.socialText {
    height: 22px;
    width: 60px;
    color: #83817C;
    font-family: Vazir;
    font-size: 14px;
    line-height: 22px;
    margin-right:auto;
    margin-left: auto;
    padding-top:10px;
    padding-bottom: 15px;
}